/* ========== GENERAL ========== */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.body {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(18 / 14);
  color: #ae1332;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

@media screen and (min-width: 375px) {
    .container {
        max-width: 375px;
        padding: 80px 15px;
        margin: auto;
        outline: 2px solid red;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

/* ========== FOOTER ========== */

/* @media screen and (min-width: 375px) { */
.footer-logo-img {
    display: block;
    width: 335px;
    height: 172px;
    padding-top: 80px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.footer-logo-box {
    display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 20px;
}

.footer-logo-icon {
    display: flex;
        flex-direction: column;
        align-items: center;
}